# Google Drive API 설정
# Google Cloud Console에서 Google Drive API를 활성화하고 API 키를 생성하세요
# https://console.cloud.google.com/apis/library/drive.googleapis.com
REACT_APP_GOOGLE_DRIVE_API_KEY=your_google_drive_api_key_here

# 기타 환경변수들
REACT_APP_API_BASE_URL=http://localhost:8000
REACT_APP_GOOGLE_CLIENT_ID=your_google_oauth_client_id
REACT_APP_KAKAO_CLIENT_ID=your_kakao_client_id
REACT_APP_NAVER_CLIENT_ID=your_naver_client_id 